.error{
    color: #b81c23;
}
h4#calc_area {
    font-weight: 500!important;
}
h2#unitly_total_cost{
    margin-top: 10px;
}
.unitly_woo_fields{
    margin-top: 20px;
}
input#unitly_unit_amount {
    max-width: 300px;
}
button.single_add_to_cart_button.disable,
button.single_add_to_cart_button.disable:hover {
    background: #b1b1b1;
    cursor: not-allowed;
}